:root {
    --bg-color: var(--bg-color) #101113;
    --tex-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
    --black-color: #000000;
    --yellow-color: #ffff00;
    --red-color: #ff0000;
    --color--footer:#1e211e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #101113;
}

a {
    color: var(--tex-color);
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

a:hover {
    opacity: 0.7;
    color: var(--main-color)
}

#iconeLoja {
    color: var(--main-color);
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: var(--h1-font);
    background: #1e1e2b;
    height: 8vh;
}

main {
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-right: 100px;

}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media screen and (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 25vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
    .nav-list li {
        letter-spacing: 3px;
        margin-right: 10px;
    
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
/* ----------------footer-------------*/
footer{
    width: 100%;
    color: var(--tex-color);
    background-color: var(--color--footer);
} 
#footer_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem
}
#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link i {
    font-size: 1.50rem;    
}
#footer_social_media .footer-link:hover {
    opacity: 0.8;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-left: 16rem;
    
}

#footer_copyright {
    display: flex;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    background-color:#1e1e2b;
}
@media (max-width: 999px) {
    #footer_content {
        grid-template-columns: repeat(1, 2fr);
        gap: 2rem;    
    }
    .footer-list{
        margin: 0;
    }
}
