:root {
    --bg-color: var(--bg-color) #101113;
    --tex-color: #fff;
    --main-color: #34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;
    --black-color: #000000;
    --yellow-color: #ffff00;
    --red-color: #ff0000;
    --color--footer:#1e211e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #101113;
}

a {
    color: var(--tex-color);
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

a:hover {
    opacity: 0.7;
    color: var(--main-color)
}

#iconeLoja {
    color: var(--main-color);
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: var(--h1-font);
    background: #1e1e2b;
    height: 8vh;
}

main {
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin: 0 30px;

}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
/*-------------MEDIA PARA AJUSTAR O BOTÃO MENU---------------*/
@media screen and (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 25vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
    .nav-list li {
        letter-spacing: 3px;
        margin-right: 10px;
    
    }
}

.nav-list.active {
    transform: translateX(0);
}
/*---------------------------------------------*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
/* ----------------footer-------------*/
footer{
    width: 100%;
    color: var(--tex-color);
    background-color: var(--color--footer);
} 
#footer_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem
}
#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link i {
    font-size: 1.50rem;    
}
#footer_social_media .footer-link:hover {
    opacity: 0.8;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-left: 16rem;
    
}

#footer_copyright {
    display: flex;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    background-color:#1e1e2b;
}
/*-------------------MEDIA PARA AJUSTAR O FOOTER----------------*/
@media (max-width: 999px) {
    #footer_content {
        grid-template-columns: repeat(1, 2fr);
        gap: 2rem;    
    }
    .footer-list{
        margin: 0;
    }
}/*---------------------------------------------*/

/*----------------MAIN---------------*/
.main{
    display: flex;
}
.home-text{
color:var(--tex-color);
font-weight: 700;
margin-left: 52rem;
margin-top: 20rem;
letter-spacing: 2;
}

.home-text h1{
    font-size: 40px;
    letter-spacing: 2px;
}
.home-text h3{
    font-size: 40px;
    margin-bottom: 35px;
}
.home-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}
.btn-compre-agora{
    display: inline-block;
    padding: 15px 70px;
    background-color: transparent;
    border: solid 2px var(--tex-color); 
    transition: all.55s ease;
}
.btn-compre-agora:hover{
    transform: translateY(-10px);
}

.imagem-principal{
    max-width: 100vh;
    width: auto;
    height: auto;
    display: flex;
    
}
.ip-14{
    width:20rem;
    height: 26rem;
    margin-left: -45rem;
    margin-top: 16rem;
    display: flex;
}
/*------------ BOTÕES PARA MUDAR A COR DO IPHONE -----------------*/
.row{
    position: absolute;
    top: 530px;
    left: 200px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.row li img{
    width: 50px;
    height: auto;
    max-width: 100%;
}
.row1{
    background-color: var(--red-color);
    height: 100px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all.55s ease;
    
}
.row1:hover {
    transform: translateY(-8px);
}
.row2{
    background-color: var(--black-color);
    height: 100px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all.55s ease;
}
.row2:hover {
    transform: translateY(-8px);
}
.row3{
    background-color: var(--yellow-color);
    height: 100px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all.55s ease;
}
.row3:hover {
    transform: translateY(-8px);
}

@media (max-width: 1150px){
    .home-text{
        margin-left: 2rem;
    }
    .home-text h1{
        font-size: 35px;
    }
    .home-text h3{
        font-size: 35px;
    }
    .btn-compre-agora{
        padding: 15px 50px;
    }
    .ip-14{
        margin-left: 10rem;
        margin-top: 12rem;
    }
    .row{
        flex-direction: row;
        top: 800px;
        left: 440px;
        align-items: center;
    }
}

@media (max-width:780px){
    .home-text{
        margin-left: 2rem;
        margin-top: 30rem;
        
    }
    .home-text h1{
        font-size: 16px;
    }
    .home-text h3{
        font-size: 30px;
    }
    .btn-compre-agora{
        padding: 15px 50px;
        font-size: 15px;
    }
    .ip-14{
        margin-left: -12rem;
        margin-top: 5rem;
        width: 250px;
        height: 320px;
    }
    .row{
        flex-direction: column;
        top: 320px;
        left: 360px;
        align-items: center;
    }
}