*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color:var(--bg-color) #101113;
    --tex-color:#fff;
    --main-color:#34e7f8;
    --other-color: #fcfcfc;
    --h1-font: 4rem;
    --p-font:1rem;
}
body{
    background-color:#101113;
    color: var(--tex-color)
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}
.logo{
    display: flex;
    align-items: center;
    color:var(--tex-color);
    font-size: 28px;
    font-weight: bold;
}
.logo i{
    color:var(--main-color);
    font-size: 32px;

}
.navegacao{
    display:flex
}
.navegacao a{
    color:var(--tex-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 60px;
    transition: a .55s ease;
}
.navegacao a:hover{
    color: var(--main-color)
}
.header-icons{
    display: flex;
    align-items: center;
}
#menu{
    font-size: 35px;
    color:var(--tex-color);
    z-index: 1001;
    cursor: point;
}
.header-icons a{
    color: var(--tex-color);
    margin-right: 28px;
    font-size: 28px;
    cursor:point;
    transition: all .5s ease;   
}
.header-icons a:hover{
    color:var(--main-color)
}