:root {
    --text-color: #fff;
    --azulCiano: #34e7f8;
    --row1-color: #ff0000;
    --row2-color: #000000;
    --row3-color: #ffff00;
    --color--footer:#1e211e;
    --corHeader: #1e1e2b;
    --corFundo: #e9e9e9;
    --fundoCompreAgora: transparent;
    --bordaCompreAgora: #000000;
    --nomeCompreAgora:#000000;
    --corNavList: #23232e;
    --corDescricao: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

a {
    color: var(--tex-color);
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
    color: white;
}
a:hover{
    color:var(--azulCiano);
}
main {
    background-size: cover;
    height: 60rem;
}
header,
.navigationHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header{
    background-color: var(--corHeader);
    box-shadow: 1px 1px 4px var(--azulCiano);
    height: 60px;
    justify-content: space-between;
    padding: 0 10%;
}
.navigationHeader{
    gap: 5rem;
    z-index: 10;
}
.navigationHeader a{
    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s;
    height: bold;
}
.btnIconHeader{
    display: none;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

body {
    background-color: var(--corFundo);
}

a:hover {
    color: var(--azulCiano);
}

#iconeLoja {
    color: var(--azulCiano);
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color:var(--text-color);
}

/* ----------------FOOTER-------------*/
footer{
    width: 100%;
    color: var(--text-color);
    background-color: var(--color--footer);
} 
footer a{
    color: white;
    text-decoration: none;
}

footer h1{
    display: flex;
    color:red;
}
footer h3{
    color:red;
}
#footer_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem
}
#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link i {
    font-size: 1.50rem;    
}
#footer_social_media .footer-link:hover {
    opacity: 0.8;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-left: 16rem;
}

#footer_copyright {
    display: flex;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    background-color:#1e1e2b;
}
/* ---------------- /FOOTER -------------*/


.main{
    display: flex;
    transition: 1s;
  
}
.main a{
    text-decoration: none;
}
.home-text{
color: var(--corDescricao);
font-weight: 700;
margin-left: 52rem;
margin-top: 20rem;
letter-spacing: 2;
}

.home-text h1{
    font-size: 40px;
    letter-spacing: 2px;
}
.home-text h3{
    font-size: 40px;
    margin-bottom: 35px;
}
.home-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}
.btn-compre-agora{
    display: inline-block;
    padding: 15px 70px;
    background-color: var(--fundoCompreAgora);
    border: solid 2px var(--bordaCompreAgora);
    transition: all.55s ease;
    color:var(--nomeCompreAgora);
}
.btn-compre-agora:hover{
    transform: translateY(-10px);
    color:var(--azulCiano);
}

.imagem-principal{
    max-width: 100vh;
    width: auto;
    height: auto;
    display: flex;
    
}
.ip-14{
    width:20rem;
    height: 26rem;
    margin-left: -45rem;
    margin-top: 16rem;
    display: flex;
}
/*------------ BOTÕES PARA MUDAR A COR DO IPHONE -----------------*/
.row{
    position: absolute;
    top: 530px;
    left: 200px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.row li img{
    width: 50px;
    height: auto;
    max-width: 100%;
}
.row1{
    background-color: var(--row1-color);
    height: 100px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all.55s ease;
    
}
.row1:hover {
    transform: translateY(-8px);
}
.row2{
    background-color: var(--row2-color);
    height: 100px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all.55s ease;
}
.row2:hover {
    transform: translateY(-8px);
}
.row3{
    background-color: var(--row3-color);
    height: 100px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition: all.55s ease;
}
.row3:hover {
    transform: translateY(-8px);
}
/*------------ /BOTÕES PARA MUDAR A COR DO IPHONE -----------------*/


@media (max-width: 1150px){
    .home-text{
        margin-left: 2rem;
    }
    .home-text h1{
        font-size: 35px;
    }
    .home-text h3{
        font-size: 35px;
    }
    .btn-compre-agora{
        padding: 15px 50px;
    }
    .ip-14{
        margin-left: 10rem;
        margin-top: 12rem;
    }
    .row{
        flex-direction: row;
        top: 800px;
        left: 440px;
        align-items: center;
    }
}
/*-------------------MEDIA PARA AJUSTAR O FOOTER----------------*/
@media (max-width: 999px) {
    #footer_content {
        grid-template-columns: repeat(1, 2fr);
        gap: 2rem;    
    }
    .footer-list{
        margin: 0;
    }
}
/*------------------- /MEDIA PARA AJUSTAR O FOOTER----------------*/

/*------------------- MEDIA PARA AJUSTAR O MENU----------------*/
@media screen and (max-width: 1200px){
    .btnIconHeader{
        display: block;

    }
    .navigationHeader{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--corNavList);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    @keyframes showSidebar {
        from{margin-left: -100vw;}
        top{margin-left: -10vw;}
    }
}
/*------------------- /MEDIA PARA AJUSTAR O MENU----------------*/

@media (max-width:780px){
    .home-text{
        margin-left: 2rem;
        margin-top: 30rem;
        
    }
    .home-text h1{
        font-size: 16px;
    }
    .home-text h3{
        font-size: 30px;
    }
    .btn-compre-agora{
        padding: 15px 50px;
        font-size: 15px;
    }
    .ip-14{
        margin-left: -14rem;
        margin-top: 5rem;
        width: 200px;
        height: 320px;
    }
    .row{
        flex-direction: column;
        top: 320px;
        left: 280px;
    }   
}
@media (max-width:412px) {
    .logo {
        font-size: 22px;
    }
}
