:root {
  --text-color: #fff;
  --azulCiano: #34e7f8;
  --color--footer: #1e211e;
  --corHeader: #1e1e2b;
  --corFundo: #e9e9e9;
  --colorCopyright: #1e1e2b;
  --corNavList: #23232e;
  --colorBotao: #4CAF50;
  --hoverBotao: #429b45;
  --botaoCancelarModal: red;
  --botaoCancelarPagamento: #f44336;
  --botaoCancelarPagamentoHover: #eb3326;
  --colorError: red;
  --totalPagamento: #4CAF50;

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

a {
  color: var(--tex-color);
  text-decoration: none;
  transition: 0.3s;
  font-size: 15px;
  color: white;
}

a:hover {
  color: var(--azulCiano);
}

main {
  background-size: cover;
  height: 60rem;
}

header,
.navigationHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  background-color: var(--corHeader);
  box-shadow: 1px 1px 4px var(--azulCiano);
  height: 60px;
  justify-content: space-between;
  padding: 0 10%;
}

.navigationHeader {
  gap: 5rem;
  z-index: 10;
}

.navigationHeader a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.5s;
  height: bold;
  cursor: pointer;
}

.btnIconHeader {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

body {
  background-color: var(--corFundo);
}

a:hover {
  color: var(--azulCiano);
}

#iconeLoja {
  color: var(--azulCiano);
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--text-color);
}

/* -----------MODAIS SOBRE, CONTATO E COMO FUNCIONA */
.modalWindowArea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease, transform 0.3s ease;
  z-index: 1001;
}

.modalWindowBody {
  background-color: #fff;
  border-radius: 8px;
  height: 15rem;
  padding: 20px;
  max-width: 400px;
  text-align: center;

}

#text {
  margin-bottom: 2rem;
  height: 7rem;
}

#tipo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.cancelMobileButton {
  background-color: var(--botaoCancelarModal);
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* -----------/MODAIS SOBRE, CONTATO E COMO FUNCIONA */

/* ---------- MODAL PAGAMENTO -----------*/
.pagamentoWindowArea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.pagamentoWindowBody {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.produtoInfo--cancelMobileButton {
  background-color: var(--botaoCancelarPagamento);
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.5s;
}

.produtoInfo--cancelMobileButton:hover {
  background-color: var(--botaoCancelarPagamentoHover);
}

.modalQrCode {
  margin-bottom: 20px;
}

#QRCodeImage {
  max-width: 100%;
  height: auto;
}

.chaveAleatoria {
  margin-bottom: 20px;
  width: 90%;
}

#chaveAleatoria {
  font-size: 18px;
}

.produtoInfo--cancelButton {
  background-color: var(--botaoCancelarPagamento);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.produtoInfo--cancelMobileButton {
  cursor: pointer;
}

/*------------------/MODAL PAGAMENTO---------------------------*/
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.headMetodoPagamento {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

}

.headerPagamento {
  text-align: center;
}

.headerPagamento h1 {
  font-size: 40px;
}

.headerPagamento h3 {
  font-size: 20px;
}

.bandeiras {
  display: block;
  font-size: 2rem;
  margin-left: 2rem;
}

.bandeiraPix {
  display: none;
  font-size: 4rem;
  margin-left: 2rem;
}

h1 {
  text-align: center;
}

.pagamento-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.pagamento-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.pagamento-details {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.pagamento-item {
  margin-bottom: 10px;
}

.item-label {
  font-weight: bold;
}

.item-value {
  margin-left: 10px;
}

.payment-total {
  font-weight: 800;
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--totalPagamento);
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#error {
  color: var(--colorError);
  font-weight: 700;
}

.selecaoTipo {
  display: flex;
  gap: 5rem;
}

.pagamento-method {
  margin-bottom: 20px;
  margin-right: 2rem;
}

.pagamento-method h2 {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.confirmar {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--colorBotao);
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.5s;
}

#confirmar {
  z-index: -1001;
}

.confirmar:hover {
  background-color: var(--hoverBotao);
  transform: translatey(-5px);
}

#formulario {
  flex-direction: column;
  z-index: 5;
  padding-right: 2rem;
  max-height: 30rem;
  overflow-y: scroll;

  flex-wrap: nowrap;
  margin-left: 2rem;
}

.pagamento-options {
  margin-bottom: 20px;
}

.pagamento-options label {
  margin-right: 10px;
  font-weight: normal;
  cursor: pointer;
}

#cartaoCreditoFields {
  margin-bottom: 2rem;
}

#pixFields {
  margin-bottom: 10px;

}

#pixFields h3 {
  margin-bottom: 10px;
}

#pixFields h3 {
  margin-bottom: 10px;
}

#pixFields input[type="radio"] {}

/*--------------------------------------------------------------------------------*/


/* ----------------FOOTER-------------*/
footer {
  width: 100%;
  color: var(--text-color);
  background-color: var(--color--footer);
}

footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

footer h1 {
  display: flex;
  color: red;
}

footer h3 {
  color: red;
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link i {
  font-size: 1.50rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  margin-left: 16rem;
}

#footer_copyright {
  display: flex;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
  background-color: var(--colorCopyright);
}

/*------------------- MEDIA PARA AJUSTAR O MENU----------------*/
@media screen and (max-width: 1200px) {
  .btnIconHeader {
    display: block;

  }

  .navigationHeader {
    position: absolute;
    flex-direction: column;
    top: 0;
    background-color: var(--corNavList);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
  }

  @keyframes showSidebar {
    from {
      margin-left: -100vw;
    }

    top {
      margin-left: -10vw;
    }
  }
}

/*------------------- /MEDIA PARA AJUSTAR O MENU----------------*/

/*-------------------MEDIA PARA AJUSTAR O FOOTER----------------*/
@media (max-width: 999px) {
  #footer_content {
    grid-template-columns: repeat(1, 2fr);
    gap: 2rem;
  }

  .footer-list {
    margin: 0;
  }
}

/*------------------- /MEDIA PARA AJUSTAR O FOOTER----------------*/

@media (max-width:633px) {
  .headMetodoPagamento h2 {
    font-size: 20px;
  }

  .headMetodoPagamento {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/*------------------- /MEDIA PARA AJUSTAR O MENU----------------*/
@media (max-width:412px) {
  .logo {
    font-size: 22px;
  }
}